block-heading text-center{
	color:#3b99e0;
   text-align:center;
}
.img-fluid{
     max-width: 100px;
     height: 100px;
 }

 .quantity-input {
     width: 50px;
 }

 .summary {
	 border-top:#5aea4f3;
	 background-color:#f7fbff;
 }